<div class="col-md-12">
    <input type="text" class="form-control" #name>
</div>
<hr>
<div class="col-md-12">
    <input type="text" class="form-control" #surname>
</div>
<hr>

<div class="col-md-12">
    <button type="button" class="btn btn-success form-control" (click)="AddData(name,surname)">Added</button>
</div>
<hr>
<table class="table table-striped">
   
   
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th>Sil</th>
           
        </tr>
    </thead>
    <tbody>
        
        <tr *ngFor="let item of MyData;let i=index">
          
            <td>{{i+1}}<td>
            <td>{{item.name}}</td>
            <td>{{item.surname}}</td>
            <td><a class="btn btn-danger" (click)="Delete(data)">Sil</a></td>
        </tr>
       
    </tbody>
</table>
